.container {
  max-width: auto;
}

.row {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

@media screen and (min-width: 992px) {
  .column-half {
    width: 50%;
  }

  .comments-post {
    flex-direction: column;
  }

  textarea {
    width: 44rem;
    height: 7.4rem;
    position: relative;
    right: 2.75rem;
  }
}

@media screen and (max-width: 480px) {
  .row {
    justify-content: start;
    margin: 0 1.5rem;
    flex-direction: column;
  }
}
