.container {
  max-width: auto;
}

.row {
  display: flex;
  justify-content: center;
}

header > .row {
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: auto;
  }

  .column-half {
    width: 50%;
  }
}
