.container {
  font-family: roboto, sans-serif;
}

/* Header */

header {
  background-color: #007bff;
  color: white;
}

header > .row {
  align-items: baseline;
  flex-direction: row;
}

h2 {
  font-weight: 500;
}

.header-positioning {
  text-align: end;
  margin: 0 3.75rem 0 0;
}

.engines-link {
  text-decoration: none;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

/* Home Page */
.right-header,
.left-header {
  font-weight: bold;
}

h1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 3rem 0 0;
}

hr {
  width: 70%;
  border: none;
  height: 3px;
  background-color: #f5f5f5;
}

.engine-image {
  width: 50%;
}

.align-end {
  text-align: end;
}

.align-center {
  text-align: center;
}

.left-div {
  margin: 0 5rem 0 0;
}

.right-div {
  margin: 0 0 0 1rem;
  padding-bottom: 2rem;
}

h3 {
  font-family: work-sans, sans-serif;
  text-align: center;
  font-weight: 400;
}

button {
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
}

/* VIN Search */
.vin-input {
  /* width: 50%; */
  padding: 0.4rem 0.75rem;
  border-radius: 4px;
  border: 2px solid #ced4da;
  font-size: large;
}

.search-button {
  padding: 10px;
}

/* Engine Entries */
ul {
  margin-top: 0;
  list-style-type: none;
}

li:nth-child(2) {
  color: #979797;
}

@media screen and (max-width: 480px) {
  /* Header */
  .header-applications {
    position: relative;
    right: 0;
  }

  .engines-link {
    position: relative;
    right: 0.75rem;
  }

  /* Engine Pages */

  .applications-heading {
    font-size: 2.35rem;
    margin: 2rem 0 0;
  }

  hr {
    background-color: white;
  }

  .selection-heading {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .left-div,
  .right-div {
    margin: 1.5rem 0 0.5rem;
    padding-bottom: 1rem;
  }

  .engine-image {
    width: 100%;
  }

  a > h3 {
    margin: 0.5rem 0 1.2rem;
  }

  /* Engine pages */
  .engine-heading {
    text-align: left;
    font-size: 2rem;
    margin: 0 0 1rem;
  }

  /* VIN Search */
  .vin-header > h3 {
    margin-bottom: 0;
    text-align: start;
  }

  .vin-search {
    margin: 0.5rem 0;
    padding: 0 0 0.25rem;
  }

  .search-column {
    text-align: end;
  }

  /* VIN input */
  div > input {
    width: 100%;
  }

  /* Add entry */

  .share-sti {
    text-align: start;
    margin-bottom: 0;
  }

  .plus-button {
    padding: 0.25rem 1.25rem;
    position: relative;
    bottom: 1rem;
    left: 18.25rem;
  }

  /* mobile entries */
  .mobile-entry {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  i {
    position: relative;
    left: 19.75rem;
    bottom: 4.25rem;
  }

  .entry-heading {
    font-size: 2rem;
    text-align: left;
    margin: 0;
  }

  .entry-p {
    margin-top: 0;
  }

  /* GSR Page */
  .share-gsr {
    text-align: start;
    margin-bottom: 0;
  }

  /* LS3 Page */
  .ls3-vin > h3 {
    margin-bottom: 0;
    text-align: start;
  }

  .share-chevy {
    text-align: start;
    margin-bottom: 0;
  }

  .share-honda {
    text-align: start;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  /* Header */
  .engines-link {
    position: relative;
    right: 5.5rem;
  }

  .header-applications {
    position: relative;
    right: 10rem;
  }

  /* Home page */
  .left-header {
    position: relative;
    left: 11rem;
  }

  .right-header {
    position: relative;
    right: 11rem;
  }

  /* Engine Pages */
  .engine-pages {
    margin: 4rem 0 0;
  }

  .right-column {
    width: 60%;
  }

  .engine-heading {
    font-weight: 400;
    font-size: 2rem;
  }

  .select-engine {
    position: relative;
    left: 7rem;
  }

  .right-text {
    margin: 0;
  }

  /* VIN Search */
  .vin-header {
    position: relative;
    left: 6.25rem;
    margin: 5rem 0 0;
  }

  .vin-input {
    width: 50%;
  }

  .gsr-vin {
    position: relative;
    left: 6rem;
    margin: 5rem 0 0;
  }

  .ls3-vin {
    position: relative;
    left: 7rem;
    margin: 5rem 0 0;
  }

  .vin-search {
    position: relative;
    left: 11.25rem;
  }

  .vin-row {
    align-items: center;
  }

  .column-seventy {
    width: 71%;
  }

  .column-thirty {
    width: 29%;
  }

  .plus-row {
    text-align: center;
    align-items: center;
    margin: 3rem 0;
  }

  .share-sti {
    position: relative;
    left: 2.75rem;
  }

  .share-gsr {
    position: relative;
    left: 7.25rem;
  }

  .share-chevy {
    position: relative;
    left: 8.75rem;
  }

  .share-honda {
    position: relative;
    left: 4.5rem;
  }

  .plus-button {
    position: relative;
    left: 3.75rem;
    padding: 0.125rem 1.9rem;
    font-size: 1.5rem;
  }

  /* Entries */
  .entry-row {
    margin: 2.4rem 0;
  }

  ul {
    padding: 0;
  }

  /* STI entry heading */
  li > h3 {
    text-align: start;
    margin: 0;
    font-size: 2rem;
  }

  .right-column > h3 {
    margin: 0;
    text-align: start;
  }

  li:nth-child(2) {
    text-align: end;
    position: relative;
    bottom: 4rem;
  }
}

@media screen and (min-width: 1600px) {
  /* Header */
  .header-applications {
    position: relative;
    right: 16rem;
  }

  .engines-link {
    position: relative;
    right: 7.75rem;
  }

  /* Engine list hompage */
  .left-header {
    position: relative;
    left: 13.5rem;
  }

  .right-header {
    position: relative;
    right: 14rem;
  }

  /* VIN search */
  .vin-search {
    position: relative;
    left: 14.25rem;
  }

  /* share information */
  .share-sti {
    position: relative;
    left: -3.25rem;
  }

  .plus-button {
    left: 4.75rem;
  }

  .share-gsr {
    left: 1.25rem;
  }

  .share-chevy {
    left: 2.75rem;
  }

  .share-honda {
    left: -1.5rem;
  }

  /* entries */
  li:nth-child(2) {
    bottom: 1.75rem;
  }
}
