.container {
  font-family: roboto, sans-serif;
}

.header {
  background-color: #007bff;
  color: white;
}

.header-positioning {
  text-align: end;
  margin: 0 3.75rem 0 0;
}

/* .engines-link {
  margin: 0 7rem 0 0;
} */

.fivehundred-weight {
  font-weight: 500;
}

h1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 3rem 0 0;
}

hr {
  width: 80%;
  border: none;
  height: 3px;
  background-color: #f5f5f5;
}

.engine-image {
  width: 35%;
}
